In [62]:
print("HOLA")

HOLA

In [63]:
m = 2
n = 4
r = (m-n) * 3
r
rr = r/4
rr
c = r//4
resto = r % 4
print(c, resto)

-2 2

In [64]:
"data" in "Hola Data mundo"

False

In [65]:
l1 = [1,2,3]
4 in l1

False

In [66]:
"Hola mundo" .replace("o","x")

'Hxla mundx'

In [67]:
str = "Hola Mundo! Hola"
l1 = str.split(" ")
print(l1)
"_".join(l1)
"_".join(str.split())

['Hola', 'Mundo!', 'Hola']

'Hola_Mundo!_Hola'

In [84]:
l1=str.split(" ").count("Hola")
l1

2

In [88]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print(prim, ult)
l1[1::2]
#l1[ind_init:ind:final:salto]

1 10

[2, 4, 6, 8, 10]

In [89]:
l1[1:3]=['a','b']
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10]

In [93]:
l1.append(4)
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10, 4, 4, 4, 4]

In [103]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [106]:
l1.insert(len(l1),'Hola')
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola', 'Hola', 'Hola']

In [110]:
l1 = [1,2,3,4,5,6,7,8,9,10]
e1 = l1.pop(2)
e1

3

In [114]:
l1 = [1,2,3]
l2 = ['a','b','c']

try:
    l1 > l2
except:
    print('Error!!!')

print('Continua')

Error!!!
Continua

In [119]:
l1 = [1,2,3,4,5,6,7,8,9,10]
print(min(l1))
print(max(l1))

1
10

In [122]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1.index(3,1)

2

In [129]:
t1 = (1,2,3)
t1
type(t1)

tuple

In [135]:
dict1 = {'lunes':1, 'martes':2, 'miercoles':3}
l1 = list(dict1.keys())
l1

['lunes', 'martes', 'miercoles']

In [138]:
vals = set(dict1.values())
vals

{1, 2, 3}

In [143]:
'martes' in dict1.values()

False

In [146]:
'martes' in dict1.keys()

True

In [155]:
dict1['lunes'] = 'primero'
dict1

{'lunes': 'primero', 'martes': 2, 'miercoles': 3}

In [157]:
dict1.get('viernes','No existe')

'No existe'

In [164]:
Lista1 = (input("Num1"), input("Num2"), input("Num3"), input("Num4"))
print(Lista1)
numero = input()
numero in Lista1

('1', '2', '3', '4')

False

In [187]:
horas = int(input('Horas trabajadas'))
precio = float(input('Precio/hora'))
sueldo = horas * precio
sueldo

20.4

In [194]:
l1 = [1,2,3,4,5,6,7,8,9,10,3,8,18]
s1 = set(l1)
print('Número de elementos diferentes:',len(s1))

Número de elementos diferentes: 11

In [195]:
# Número en lista
list1 = [1,2,3,4,5]
try:
    val = int(input("num:"))
    print('Está:',val in list1)
except:
    print('Debe ser un número!')

Está: True

In [196]:
4# Suledo medio
try:
    horas = int(input('Horas:'))
    pph = float(input('pph:'))
    sa = horas * pph
    smm = sa / 12
    print('Sueldo medio mensual:', smm)
except:
    print('Deben ser números!')

Sueldo medio mensual: 1.6666666666666667

In [197]:
# Número mayor
txtlista = input('lista separada por ",":')
lista = txtlista.split(',')
print('El mayor es:',max(lista))

El mayor es: 3

In [198]:
# Num valores únicos
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1]
s1 = set(lista)
print('Número de elementos diferentes:',len(s1))

Número de elementos diferentes: 5

In [199]:
# Valor 2º posicion
unDict = {'primero':1, 'segundo': 2, 'tercero':3}
claves = list(unDict.keys());
segundo = unDict.get(claves[1])
print('El segundo:',segundo)

El segundo: 2