In [1]:
print("HOLA")

HOLA

In [2]:
m = 2
n = 4
r = (m-n) * 3
r
rr = r/4
rr
c = r//4
resto = r % 4
print(c, resto)

-2 2

In [3]:
"data" in "Hola Data mundo"

False

In [4]:
l1 = [1,2,3]
4 in l1

False

In [5]:
"Hola mundo" .replace("o","x")

'Hxla mundx'

In [6]:
str = "Hola Mundo! Hola"
l1 = str.split(" ")
print(l1)
"_".join(l1)
"_".join(str.split())

['Hola', 'Mundo!', 'Hola']

'Hola_Mundo!_Hola'

In [7]:
l1=str.split(" ").count("Hola")
l1

2

In [8]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print(prim, ult)
l1[1::2]
#l1[ind_init:ind:final:salto]

1 10

[2, 4, 6, 8, 10]

In [9]:
l1[1:3]=['a','b']
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10]

In [10]:
l1.append(4)
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10, 4]

In [11]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
l1.insert(len(l1),'Hola')
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola']

In [13]:
l1 = [1,2,3,4,5,6,7,8,9,10]
e1 = l1.pop(2)
e1

3

In [14]:
l1 = [1,2,3]
l2 = ['a','b','c']

try:
    l1 > l2
except:
    print('Error!!!')

print('Continua')

Error!!!
Continua

In [15]:
l1 = [1,2,3,4,5,6,7,8,9,10]
print(min(l1))
print(max(l1))

1
10

In [16]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1.index(3,1)

2

In [1]:
t1 = (1,2,3)
t1
type(t1)

tuple

In [18]:
dict1 = {'lunes':1, 'martes':2, 'miercoles':3}
l1 = list(dict1.keys())
l1

['lunes', 'martes', 'miercoles']

In [19]:
vals = set(dict1.values())
vals

{1, 2, 3}

In [20]:
'martes' in dict1.values()

False

In [21]:
'martes' in dict1.keys()

True

In [22]:
dict1['lunes'] = 'primero'
dict1

{'lunes': 'primero', 'martes': 2, 'miercoles': 3}

In [23]:
dict1.get('viernes','No existe')

'No existe'

In [24]:
Lista1 = (input("Num1"), input("Num2"), input("Num3"), input("Num4"))
print(Lista1)
numero = input()
numero in Lista1

('1', '2', '3', '4')

False

In [25]:
horas = int(input('Horas trabajadas'))
precio = float(input('Precio/hora'))
sueldo = horas * precio
sueldo

18576.0

In [26]:
l1 = [1,2,3,4,5,6,7,8,9,10,3,8,18]
s1 = set(l1)
print('Número de elementos diferentes:',len(s1))

Número de elementos diferentes: 11

In [5]:
# Número en lista
list1 = [1,2,3,4,5]
try:
    val = int(input("num:"))
    print('Está:',val in list1)
except:
    print('Debe ser un número!')

Debe ser un número!

In [6]:
4# Suledo medio
try:
    horas = int(input('Horas:'))
    pph = float(input('pph:'))
    sa = horas * pph
    smm = sa / 12
    print('Sueldo medio mensual:', smm)
except:
    print('Deben ser números!')

Sueldo medio mensual: 4125.0

In [3]:
# Número mayor
txtlista =input('lista separada por ",":')
lista = txtlista.split(',')
print('El mayor es:',max(lista))

El mayor es: 3

In [48]:
# Num valores únicos
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1]
s1 = set(lista)
print('Número de elementos diferentes:',len(s1))
s1

Número de elementos diferentes: 5

{1, 2, 3, 4, 5}

In [3]:
# Valor 2º posicion
unDict = {'primero':1, 'segundo': 5, 'tercero':3}
claves = list(unDict.keys());
segundo = unDict.get(claves[1])
print('El segundo:',segundo)

El segundo: 5

In [21]:
# EJERCICIO 3
Alumnos = ('Carlos','Ramon','Laura')
Notas = (8,6,7)
unDict = {Alumnos[0]:0, Alumnos[1]:1, Alumnos[1]:2}
unDict[Alumnos[0]] = Notas[0]
unDict[Alumnos[1]] = Notas[1]
unDict[Alumnos[2]] = Notas[2]
unDict

{'Carlos': 8, 'Ramon': 6, 'Laura': 7}

In [3]:
# EJERCICIO 3
Alumnos = ['Carlos','Ramon','Laura']
Notas = [8,6,7]
dict(zip(Alumnos, Notas))

{'Carlos': 8, 'Ramon': 6, 'Laura': 7}

In [ ]:
# EJERCICIO 3 orden por values
Alumnos = ['Carlos','Ramon','Laura']
Notas = [8,6,7]
Final = dict(zip(Alumnos, Notas))
ls = sorted(Final.items(), key=lambda item: item[1])
ls

[('Ramon', 6), ('Laura', 7), ('Carlos', 8)]

In [ ]:
# EJERCICIO 3 orden por keys
Alumnos = ['Carlos','Ramon','Laura']
Notas = [8,6,7]
Final = dict(zip(Alumnos, Notas))
ls = sorted(Final.items(), key=lambda item: item[0])
ls

[('Carlos', 8), ('Laura', 7), ('Ramon', 6)]

In [15]:
clase = {'Carlos': 8, 'Ramon': 6, 'Laura': 7}
for x in sorted(clase, key= lambda k: clase[k]):
    print(x, clase[x])

Ramon 6
Laura 7
Carlos 8

In [18]:
clase = {'Carlos': 8, 'Ramon': 6, 'Laura': 7}
for x in sorted(clase, key=lambda k: clase[k]):
    print(x)

Ramon
Laura
Carlos

In [21]:
clase = {'Carlos': 8, 'Ramon': 6, 'Laura': 7}
for x in sorted(clase, key=lambda k: k[2]):
    print(x)

Ramon
Carlos
Laura