In [ ]:
print("HOLA")

HOLA

HOLA

In [ ]:
m = 2
n = 4
r = (m-n) * 3
r
rr = r/4
rr
c = r//4
resto = r % 4
print(c, resto)

-2 2

In [ ]:
"data" in "Hola Data mundo"

False

In [ ]:
l1 = [1,2,3]
4 in l1

False

In [ ]:
"Hola mundo" .replace("o","x")

'Hxla mundx'

In [ ]:
str = "Hola Mundo! Hola"
l1 = str.split(" ")
print(l1)
"_".join(l1)
"_".join(str.split())

['Hola', 'Mundo!', 'Hola']

'Hola_Mundo!_Hola'

In [ ]:
l1=str.split(" ").count("Hola")
l1

2

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
prim = l1[0]
ult = l1[len(l1)-1]
print(prim, ult)
l1[1::2]
#l1[ind_init:ind:final:salto]

1 10

[2, 4, 6, 8, 10]

In [ ]:
l1[1:3]=['a','b']
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1.append(4)
l1

[1, 'a', 'b', 4, 5, 6, 7, 8, 9, 10, 4]

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
l1.insert(len(l1),'Hola')
l1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'Hola']

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
e1 = l1.pop(2)
e1

3

In [ ]:
l1 = [1,2,3]
l2 = ['a','b','c']

try:
    l1 > l2
except:
    print('Error!!!')

print('Continua')

Error!!!
Continua

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
print(min(l1))
print(max(l1))

1
10

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
l1.index(3,1)

2

In [ ]:
t1 = (1,2,3)
t1
type(t1)

tuple

In [ ]:
dict1 = {'lunes':1, 'martes':2, 'miercoles':3}
l1 = list(dict1.keys())
l1

['lunes', 'martes', 'miercoles']

In [ ]:
vals = set(dict1.values())
vals

{1, 2, 3}

In [ ]:
'martes' in dict1.values()

False

In [ ]:
'martes' in dict1.keys()

True

In [ ]:
dict1['lunes'] = 'primero'
dict1

{'lunes': 'primero', 'martes': 2, 'miercoles': 3}

In [ ]:
dict1.get('viernes','No existe')

'No existe'

In [ ]:
Lista1 = (input("Num1"), input("Num2"), input("Num3"), input("Num4"))
print(Lista1)
numero = input()
numero in Lista1

('1', '2', '3', '4')

False

In [ ]:
horas = int(input('Horas trabajadas'))
precio = float(input('Precio/hora'))
sueldo = horas * precio
sueldo

18576.0

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10,3,8,18]
s1 = set(l1)
print('Número de elementos diferentes:',len(s1))

Número de elementos diferentes: 11

In [ ]:
# Número en lista
list1 = [1,2,3,4,5]
try:
    val = int(input("num:"))
    print('Está:',val in list1)
except:
    print('Debe ser un número!')

Debe ser un número!

In [ ]:
4# Suledo medio
try:
    horas = int(input('Horas:'))
    pph = float(input('pph:'))
    sa = horas * pph
    smm = sa / 12
    print('Sueldo medio mensual:', smm)
except:
    print('Deben ser números!')

Sueldo medio mensual: 4125.0

In [ ]:
# Número mayor
txtlista =input('lista separada por ",":')
lista = txtlista.split(',')
print('El mayor es:',max(lista))

El mayor es: 3

In [ ]:
# Num valores únicos
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1]
s1 = set(lista)
print('Número de elementos diferentes:',len(s1))
s1

Número de elementos diferentes: 5

{1, 2, 3, 4, 5}

In [ ]:
# Valor 2º posicion
unDict = {'primero':1, 'segundo': 5, 'tercero':3}
claves = list(unDict.keys());
segundo = unDict.get(claves[1])
print('El segundo:',segundo)

El segundo: 5

In [ ]:
# EJERCICIO 3
Alumnos = ('Carlos','Ramon','Laura')
Notas = (8,6,7)
unDict = {Alumnos[0]:0, Alumnos[1]:1, Alumnos[1]:2}
unDict[Alumnos[0]] = Notas[0]
unDict[Alumnos[1]] = Notas[1]
unDict[Alumnos[2]] = Notas[2]
unDict

{'Carlos': 8, 'Ramon': 6, 'Laura': 7}

In [ ]:
# EJERCICIO 3
Alumnos = ['Carlos','Ramon','Laura']
Notas = [8,6,7]
dict(zip(Alumnos, Notas))

{'Carlos': 8, 'Ramon': 6, 'Laura': 7}

In [ ]:
# EJERCICIO 3 orden por values
Alumnos = ['Carlos','Ramon','Laura']
Notas = [8,6,7]
Final = dict(zip(Alumnos, Notas))
ls = sorted(Final.items(), key=lambda item: item[1])
ls

[('Ramon', 6), ('Laura', 7), ('Carlos', 8)]

In [ ]:
# EJERCICIO 3 orden por keys
Alumnos = ['Carlos','Ramon','Laura']
Notas = [8,6,7]
Final = dict(zip(Alumnos, Notas))
ls = sorted(Final.items(), key=lambda item: item[0])
ls

[('Carlos', 8), ('Laura', 7), ('Ramon', 6)]

In [ ]:
clase = {'Carlos': 8, 'Ramon': 6, 'Laura': 7}
for x in sorted(clase, key= lambda k: clase[k]):
    print(x, clase[x])

Ramon 6
Laura 7
Carlos 8

In [ ]:
clase = {'Carlos': 8, 'Ramon': 6, 'Laura': 7}
for x in sorted(clase, key=lambda k: clase[k]):
    print(x)

Ramon
Laura
Carlos

In [ ]:
clase = {'Carlos': 8, 'Ramon': 6, 'Laura': 7}
for x in sorted(clase, key=lambda k: k[2]):
    print(x)

Ramon
Carlos
Laura

In [ ]:
# IF, ELIF, ELSE
n = int(input())
if n>=2 and n < 5:
    print('Si es mayor de 2')
elif n >=5:
    print('Si es mayor o igual de 5')
else:
    print('Es menor de 2')

Si es mayor o igual de 5

In [ ]:
# IF, ELIF, ELSE
txt = input()

if txt in 'Hola mundo':
    print('hola está en la frase')
else:
    print(txt,'no está en la frase')

5 no está en la frase

In [ ]:
# FOR IN
l1 = [1,2,3,4,6]

for num in l1:
    print(num)

1
2
3
4
6

In [ ]:
# FOR IN break
# l1 = [1,2,3,4,6]
# t1 = [1,2,3,4,6]
# s1 = [1,2,3,4,6]
d1 = {'a':1,'b':2, 'c':3,}

for key, val in d1.items():
    print(key, val)
    if val > 2:
        print('mayor que 2')
    else:
        print('menor que 2')
    if val == 0:
        print('Salgo!!!')
        break
# break para salir del if o el while

a 1
menor que 2
b 2
menor que 2
c 3
mayor que 2

In [ ]:
# FOR IN continue

d1 = {'a':1,'b':2,'c':3,}

for key, val in d1.items():
    print(key, val)
    if val > 2:
        print('mayor que 2')
        continue

    else:
        print('menor que 2')
    if val == 0:
        print('Salgo!!!')
        break
# break para salir del if o el while

a 1
menor que 2
b 2
menor que 2
c 3
mayor que 2

In [ ]:
# while

contador = 0


while contador < 10:
    print(contador)
    contador += 1   # contador = contador + 1

0
1
2
3
4
5
6
7
8
9

In [ ]:
l1 = [1, 2, 3, 4, 5]

ind = 0

while ind < len(l1):
    print(l1[ind])
    ind += 1

# ctrl + d selecionas palabras iguales

1
2
3
4
5

In [101]:
d1 = {'a':1,'b':2,'z':0,'c':3, 'd':4}
l1 = list(d1.items())

idx = 0

while idx < len(l1):
    key, val = l1[idx]
    idx += 1

    print(key, val)

    if val > 2:
        print('mayor que 2')
        continue

    else:
        print('menor que 2')
    if val == 0:
        print('Salgo!!!')
        break

a 1
menor que 2
b 2
menor que 2
z 0
menor que 2
Salgo!!!

In [ ]:
opcion = 0

while opcion != 4:
    try:
        opcion = int(input ('Escoge entre 1,2,3,4'))
    except:
        print('debe ser un número')
        
    print('has escogido:', opcion)
    if opcion == 4:
        print('Salgo')

has escogido: 4
Salgo

In [114]:
d1 = {'a':1,'b':2,'z':0,'c':3, 'd':4}
l1 = list(d1.items())
l1

for file in l1:
    print(file)

    for col in file:
        print(col)

('a', 1)
a
1
('b', 2)
b
2
('z', 0)
z
0
('c', 3)
c
3
('d', 4)
d
4