In [104]:
print("Hola Mundo Notebook!!!!!")

Hola Mundo Notebook!!!!!

In [105]:
num1 = 5
num2 = 4.5
Text1 = 'Esto es texto'
print(num1)
print(num2)
print(Text1)
type(num1)

5
4.5
Esto es texto

int

In [106]:
suma = num1 + num2 + 5
print(suma)
type(suma)

14.5

float

In [107]:
divide = suma / 2
print(divide)
type(divide)

7.25

float

In [108]:
entrada = int( input("escribe") )
print("escribistes:", entrada)
type(entrada)

escribistes: 69

int

In [109]:
unaListaNum = [2,66,358,65]
print(unaListaNum)
type(unaListaNum)

[2, 66, 358, 65]

list

In [112]:
cajonDesastre = ["textos", 26, True]
print(cajonDesastre)
print(cajonDesastre[2])

['textos', 26, True]
True

In [113]:
cajonDesastre[2] = False
print(cajonDesastre)

['textos', 26, False]

In [119]:
unTupla = ("Texto", 656, True)
print(unTupla)
print(unTupla[2])

('Texto', 656, True)
True

In [121]:
unConjunto = ("Texto", 656, True)
type(unConjunto)

tuple

In [126]:
unDiccionario = {"texto":"Un Texto","numero":34, "booleano": False}
print(unDiccionario)
type(unDiccionario)

{'texto': 'Un Texto', 'numero': 34, 'booleano': False}

dict

In [130]:
unaTupla = ("Loli", "Kay", "Bobi")
print(unaTupla)
type(unaTupla)

('Loli', 'Kay', 'Bobi')

tuple

In [132]:
Mascotas = {"nombre":"Bobi","Raza":"Perro"}
print(Mascotas)
type(Mascotas)

{'nombre': 'Bobi', 'Raza': 'Perro'}

dict

In [140]:
ListaMascota1 = (input("Nombre"), input("Animal"), input("Edad"), input("Peso"))
print(ListaMascota1)
type(ListaMascota1)

('', '', '', '')

tuple

In [141]:
ListaMascota2 = (input("Nombre"), input("Animal"), input("Edad"), input("Peso"))
print(ListaMascota2)
type(ListaMascota2)

('hola', 'fdafd', 'erw', 'wewe')

tuple