# Ejercicios Pandas DataFrames 01

1. Escribe un programa Pandas para conectarte a la base de datos datafundamentals y carga los pagos como un dataframe

In [1]:
import psycopg2
import pandas as pd

def create_server_connection():
    PGHOST = 'ep-delicate-unit-a20wq1eg.eu-central-1.aws.neon.tech'
    PGDATABASE = 'cesteves_Netmind'
    PGUSER = 'cesteves_Netmind_owner'
    PGPASSWORD = 'MHcUeXyBw9W1'

    conn = None
    try:
        conn = psycopg2.connect(database=PGDATABASE, user=PGUSER, password=PGPASSWORD, host=PGHOST, port=5432)
        print("Database connection successful")
    except psycopg2.Error as err:
        print(f"Error: '{err}'")

    return conn

def load_table_as_dataframe(table_name):
    conn = create_server_connection()
    if conn:
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql_query(query, conn)
        conn.close()
        return df
    else:
        print("Failed to connect to the database.")
        return None

# Cargar la tabla "payments" como un dataframe
payments_df = load_table_as_dataframe("payments")

if payments_df is not None:
    print(payments_df.head(10))

payments_df.info()

Database connection successful
   customernumber checknumber paymentdate    amount
0             103    HQ336336  2004-10-19   6066.78
1             103    JM555205  2003-06-05  14571.44
2             103    OM314933  2004-12-18   1676.14
3             112    BO864823  2004-12-17  14191.12
4             112     HQ55022  2003-06-06  32641.98
5             112    ND748579  2004-08-20  33347.88
6             114     GG31455  2003-05-20  45864.03
7             114    MA765515  2004-12-15  82261.22
8             114    NP603840  2003-05-31   7565.08
9             114     NR27552  2004-03-10  44894.74
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 259 entries, 0 to 258
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   customernumber  259 non-null    int64
 1   checknumber     259 non-null    object
 2   paymentdate     259 non-null    object
 3   amount          259 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.2+ KB

2. Escribe un programa Pandas para conectarte a la base de datos datafundamentals y guardar el df de pagos en una tabla nueva. Luego muestra las tablas en la bbdd y comprueba que existe la nueva tabla.

**Tip:** Usar sqlalchemy (https://www.sqlalchemy.org/)
```
# !pip install sqlalchemy

from sqlalchemy import create_engine
engine = create_engine('db_url')
df.sql('table_name',engine)
```

In [6]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine, text

def create_server_connection():
    PGHOST = 'ep-delicate-unit-a20wq1eg.eu-central-1.aws.neon.tech'
    PGDATABASE = 'cesteves_Netmind'
    PGUSER = 'cesteves_Netmind_owner'
    PGPASSWORD = 'MHcUeXyBw9W1'

    conn = None
    try:
        conn = psycopg2.connect(database=PGDATABASE, user=PGUSER, password=PGPASSWORD, host=PGHOST, port=5432)
        print("Database connection successful")
    except psycopg2.Error as err:
        print(f"Error: '{err}'")

    return conn

def load_table_as_dataframe(table_name):
    conn = create_server_connection()
    if conn:
        query = f"SELECT * FROM {table_name}"
        df = pd.read_sql_query(query, conn)
        conn.close()
        return df
    else:
        print("Failed to connect to the database.")
        return None

# Cargar la tabla "payments" como un dataframe
payments_df = load_table_as_dataframe("payments")

if payments_df is not None:
    # Crear un motor SQLAlchemy para la base de datos datafundamentals
    db_url = 'postgresql://cesteves_Netmind_owner:MHcUeXyBw9W1@ep-delicate-unit-a20wq1eg-pooler.eu-central-1.aws.neon.tech/cesteves_Netmind?sslmode=require'
    engine = create_engine(db_url)

    # Guardar el dataframe en una nueva tabla en la base de datos datafundamentals
    new_table_name = 'new_payments_table'
    payments_df.to_sql(new_table_name, con=engine, if_exists='replace', index=False)
    print(f"Dataframe saved to table '{new_table_name}' in the datafundamentals database.")

    # Mostrar las tablas en la base de datos datafundamentals y comprobar si la nueva tabla existe
    with engine.connect() as connection:
        result = connection.execute(text("SELECT table_name FROM information_schema.tables WHERE table_schema='public'"))
        tables = result.fetchall()
        print("Tables in the datafundamentals database:")
        for table in tables:
            print(table[0])
        
        if new_table_name in [table[0] for table in tables]:
            print(f"The new table '{new_table_name}' exists in the database.")
        else:
            print(f"The new table '{new_table_name}' does not exist in the database.")
else:
    print("Failed to load the 'payments' table as a dataframe.")

Database connection successful

C:\Users\UF188430\AppData\Local\Temp\ipykernel_4080\973857496.py:24: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, conn)

Dataframe saved to table 'new_payments_table' in the datafundamentals database.
Tables in the datafundamentals database:
employees
customers
payments
sales
products
datafund_students
historicos_ordenes
resultados_join
new_payments_table
The new table 'new_payments_table' exists in the database.

3. Escribe un programa Pandas para seleccionar filas donde el valor de la columna "amount" sea mayor que 400.

In [2]:
# Seleccionar filas donde el valor de la columna "amount" sea mayor que 400
filtered_df = payments_df[payments_df['amount'] > 400]

# Mostrar las primeras filas del dataframe filtrado
print(filtered_df.head(300))

     customernumber checknumber paymentdate    amount
0               103    HQ336336  2004-10-19   6066.78
1               103    JM555205  2003-06-05  14571.44
2               103    OM314933  2004-12-18   1676.14
3               112    BO864823  2004-12-17  14191.12
4               112     HQ55022  2003-06-06  32641.98
..              ...         ...         ...       ...
254             495    BH167026  2003-12-26  59265.14
255             495    FN155234  2004-05-14   6276.60
256             496    EU531600  2005-05-25  30253.75
257             496    MB342426  2003-07-16  32077.44
258             496     MN89921  2004-12-31  52166.00

[259 rows x 4 columns]

4. Escribe un programa Pandas para seleccionar solo las columnas "checknumber" y "paymentdate" del DataFrame.

In [3]:
# Seleccionar solo las columnas "checknumber" y "paymentdate"
selected_columns_df = payments_df[['checknumber', 'paymentdate']]

# Mostrar las primeras filas del dataframe con las columnas seleccionadas
print(selected_columns_df.head())

  checknumber paymentdate
0    HQ336336  2004-10-19
1    JM555205  2003-06-05
2    OM314933  2004-12-18
3    BO864823  2004-12-17
4     HQ55022  2003-06-06

5. Escribe un programa Pandas para definir un MultiIndex (multi-índice: varios índices para cada fila), basados en 2 columnas, para:
- acceder a datos específicos mediante él
- segmentar el DataFrame en función de los niveles de MultiIndex.

In [4]:
# Definir un MultiIndex basado en las columnas "customerNumber" y "checkNumber"
multi_index_df = payments_df.set_index(['customernumber', 'checknumber'])

# Mostrar las primeras filas del dataframe con el MultiIndex
print(multi_index_df.head())

# Acceder a datos específicos mediante el MultiIndex
specific_data = multi_index_df.loc[(103, 'HQ336336')]
print("\nDatos específicos para customerNumber=103 y checkNumber='HQ336336':")
print(specific_data)

# Segmentar el DataFrame en función de los niveles de MultiIndex
segmented_df = multi_index_df.xs(103, level='customernumber')
print("\nSegmento del DataFrame para customernumber=103:")
print(segmented_df.head())

                           paymentdate    amount
customernumber checknumber
103            HQ336336     2004-10-19   6066.78
               JM555205     2003-06-05  14571.44
               OM314933     2004-12-18   1676.14
112            BO864823     2004-12-17  14191.12
               HQ55022      2003-06-06  32641.98

Datos específicos para customerNumber=103 y checkNumber='HQ336336':
paymentdate    2004-10-19
amount            6066.78
Name: (103, HQ336336), dtype: object

Segmento del DataFrame para customernumber=103:
            paymentdate    amount
checknumber
HQ336336     2004-10-19   6066.78
JM555205     2003-06-05  14571.44
OM314933     2004-12-18   1676.14

5. Escribe un programa Pandas para seleccionar las primeras tres filas usando iloc.

In [5]:
# Seleccionar las primeras tres filas usando iloc
first_three_rows = payments_df.iloc[:3]

# Mostrar las primeras tres filas
print(first_three_rows)

   customernumber checknumber paymentdate    amount
0             103    HQ336336  2004-10-19   6066.78
1             103    JM555205  2003-06-05  14571.44
2             103    OM314933  2004-12-18   1676.14

6. Escribe un programa Pandas para usar loc para seleccionar filas aplicando una condición dada en 2 columas.

In [6]:
# Convertir la columna 'paymentdate' a tipo datetime
payments_df['paymentdate'] = pd.to_datetime(payments_df['paymentdate'])

# Usar loc para seleccionar filas aplicando una condición en 2 columnas
filtered_df = payments_df.loc[(payments_df['amount'] > 400) & (payments_df['paymentdate'] > '2004-01-01')]

# Mostrar las primeras filas del dataframe filtrado
print(filtered_df.head())

   customernumber checknumber paymentdate    amount
0             103    HQ336336  2004-10-19   6066.78
2             103    OM314933  2004-12-18   1676.14
3             112    BO864823  2004-12-17  14191.12
5             112    ND748579  2004-08-20  33347.88
7             114    MA765515  2004-12-15  82261.22

7. Escribe un programa Pandas que utilice loc para cambiar en el valor de ammount de las filas que cumplan con una condición.

In [7]:
# Usar loc para cambiar el valor de 'amount' de las filas que cumplan con una condición
# Por ejemplo, cambiar el valor de 'amount' a 500 donde 'amount' sea menor que 100
payments_df.loc[payments_df['amount'] < 100, 'amount'] = 500

# Mostrar las primeras filas del dataframe modificado
print(payments_df.head())

   customernumber checknumber paymentdate    amount
0             103    HQ336336  2004-10-19   6066.78
1             103    JM555205  2003-06-05  14571.44
2             103    OM314933  2004-12-18   1676.14
3             112    BO864823  2004-12-17  14191.12
4             112     HQ55022  2003-06-06  32641.98

8. Escribe un programa Pandas que utilice .loc para dividir un DataFrame en función de las etiquetas de filas y columnas.

In [8]:
# Usar .loc para dividir un DataFrame en función de las etiquetas de filas y columnas
# Por ejemplo, seleccionar filas con índices 0 a 4 y columnas 'checknumber' y 'paymentdate'
subset_df = payments_df.loc[0:4, ['checknumber', 'paymentdate']]

# Mostrar el subset del dataframe
print(subset_df)

  checknumber paymentdate
0    HQ336336  2004-10-19
1    JM555205  2003-06-05
2    OM314933  2004-12-18
3    BO864823  2004-12-17
4     HQ55022  2003-06-06

9. Escribe un programa Pandas que utilice .loc para segmentar un DataFrame multi-índice.

In [9]:
# Definir un MultiIndex basado en las columnas "customerNumber" y "checkNumber"
multi_index_df = payments_df.set_index(['customernumber', 'checknumber'])

# Mostrar las primeras filas del dataframe con el MultiIndex
print(multi_index_df.head())

# Usar .loc para segmentar el DataFrame multi-índice
# Por ejemplo, seleccionar datos para customerNumber=103 y checkNumber='HQ336336'
segmented_df = multi_index_df.loc[(103, 'HQ336336')]

# Mostrar el segmento del dataframe
print(segmented_df)

                           paymentdate    amount
customernumber checknumber
103            HQ336336     2004-10-19   6066.78
               JM555205     2003-06-05  14571.44
               OM314933     2004-12-18   1676.14
112            BO864823     2004-12-17  14191.12
               HQ55022      2003-06-06  32641.98
paymentdate    2004-10-19 00:00:00
amount                     6066.78
Name: (103, HQ336336), dtype: object