# Ejercicios Pandas DataFrames 02

Carga el dataset de vuelos "flights14.csv"

In [22]:
import pandas as pd

df = pd.read_csv('../data/flights14.csv', index_col=0)
df.head()

,year,month,day,dep_delay,arr_delay,carrier,origin,dest,air_time,distance,hour
1,2014,1,1,14,13,AA,JFK,LAX,359,2475,9
2,2014,1,1,-3,13,AA,JFK,LAX,363,2475,11
3,2014,1,1,2,9,AA,JFK,LAX,351,2475,19
4,2014,1,1,-8,-26,AA,LGA,PBI,157,1035,7
5,2014,1,1,2,1,AA,JFK,LAX,350,2475,13

In [ ]:
df.info()

1. Escribe un programa Pandas para dividir los datos basados en origen y destino. Muestra cada grupo y el número de elementos por grupo

In [ ]:
gdf = df.groupby(['origin','dest'])

for g, vals in gdf.groups.items():
    print(g, len(vals))

In [ ]:
gdf.agg({'year':'count'}).rename(columns={'year':'num'})

2. Escribe un programa Pandas para calcula la media, desviación estándar, min y max del retraso total de cada orgige-destino.

In [27]:
df['total_delay'] = df['dep_delay']+df['arr_delay']
gdf = df.groupby(['origin','dest'])
# gdf.first()

agdf = gdf.agg({'total_delay':['mean','std','min','max']})
print(agdf)

            total_delay
                   mean         std min   max
origin dest
EWR    ALB    35.230769   92.478247 -36   618
       ANC    15.307692   43.453777 -30   121
       ATL    32.235533  114.946191 -47  2177
       AUS     5.871479   63.006811 -62   539
       AVL    24.903448   82.071727 -33   625
...                 ...         ...  ..   ...
LGA    SYR    23.346386   88.091602 -54   844
       TPA    15.267279   80.570698 -57   964
       TVC    71.500000  183.741200 -41   765
       TYS    17.305389   57.004937 -44   291
       XNA     6.911565   53.977890 -64   320

[221 rows x 4 columns]

3. Escribe un programa Pandas para dividir un conjunto de datos y agruparlos por dos columnas, y luego ordenar los resultados agregados dentro de los grupos.

En el siguiente conjunto de datos de vuelos, agrupar "date" (fecha completa) y "carrier". Luego ordenar la suma de 'total_delay' dentro de los grupos.

In [35]:
df['date'] = pd.to_datetime(df[['year', 'month', 'day']])
# df.info()

gdf = df.groupby(['date', 'carrier']).agg({"total_delay": sum})
gdf["total_delay"].groupby(level=0, group_keys=False).nlargest()

date        carrier
2014-01-01  B6         9383
            UA         5897
            EV         4675
            MQ         3122
            WN         2744
                       ...
2014-10-31  UA         4862
            AA         3090
            VX           14
            HA           -4
            F9          -20
Name: total_delay, Length: 1520, dtype: int64

4. Escribe un programa Pandas para contar el múmero de retrasos de salida por mes y origen.

5. Escribe un programa Pandas para cargar los datos de productos y ventas del archivo FoodMarket.xlsx y mézclalos en un solo dataframe.

In [22]:
import pandas as pd
file_path = './datos/FoodMarket.xlsx'
df_prods = pd.read_excel(file_path, sheet_name='Products', engine='openpyxl')
df_prods.sort_values(['Product'], ascending=True, inplace=True)
df_prods.info()
print(df_prods.head())
print(df_prods.tail())
df_prods.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 10 to 60
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Product   70 non-null     int64
 1   Name.x    70 non-null     object
 2   provider  70 non-null     int64
 3   Price     70 non-null     float64
dtypes: float64(1), int64(2), object(1)
memory usage: 2.7+ KB
    Product                                   Name.x  provider      Price
10        1                         American cheeses         1   8.913593
12        2  Appellation d'Origine Contrôlée cheeses         1  10.705655
55        3                          Apple cultivars         1  11.280984
58        4                             Bacon dishes         1  10.144121
54        5                        Bacon substitutes         1  11.089174
    Product             Name.x  provider      Price
61       66     Turkish dishes         4  41.352309
20       67  Twice-baked foods         4  41.740085
6        68     Vegetable oils         4  35.583480
64       69         Vegetables         4  37.070492
60       70             Vodkas         4  40.404487

         Product   provider      Price
count  70.000000  70.000000  70.000000
mean   35.500000   1.828571  18.309713
std    20.351085   1.049105  10.454415
min     1.000000   1.000000   8.236004
25%    18.250000   1.000000   9.990970
50%    35.500000   1.000000  11.158073
75%    52.750000   3.000000  29.619032
max    70.000000   4.000000  41.740085

In [23]:
df_purch = pd.read_excel(file_path, sheet_name='Sellers', engine='openpyxl')
df_purch.info()
print(df_purch.head())
print(df_purch.tail())
df_purch.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 58 entries, 0 to 57
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Seller   58 non-null     int64
 1   Name     58 non-null     object
 2   Lat      58 non-null     float64
 3   Long     58 non-null     float64
 4   Country  58 non-null     object
dtypes: float64(2), int64(1), object(2)
memory usage: 2.4+ KB
   Seller        Name        Lat       Long   Country
0       1    Food Inc  39.181453  -7.693541  Portugal
1       2  MercaCheap  40.926250  12.561204     Italy
2       3    Good4you  41.073917  12.724559     Italy
3       4    Fresh&co  41.117701  13.057334     Italy
4       5     Farmeez  40.844856  -3.670121     Spain
    Seller                 Name        Lat       Long   Country
53      54  Fresh Grown Grocery  39.365830  -8.333285  Portugal
54      55           Gro And Go  41.461026  12.207095     Italy
55      56      Steps To Saving  41.082845  12.415254     Italy
56      57       Save And Savor  41.384304  12.541864     Italy
57      58       Shop And Savor  41.569221  12.902040     Italy

          Seller        Lat       Long
count  58.000000  58.000000  58.000000
mean   29.500000  40.347428   5.672696
std    16.886879   0.927661  11.279037
min     1.000000  38.812984  -8.910791
25%    15.250000  39.371341  -4.436926
50%    29.500000  40.750194  12.181332
75%    43.750000  41.088068  12.794747
max    58.000000  41.589359  22.812035

In [7]:
!pip install tabulate

Requirement already satisfied: tabulate in /anaconda/envs/azureml_py38/lib/python3.10/site-packages (0.9.0)

In [ ]:
from tabulate import tabulate

# Combinando

df = pd.merge(df_purch, df_prods, on="Product", how='inner')
df.rename(columns={'Name.x': 'ProductName'}, inplace=True)
df.info()
df.describe()
print('\n')
print(tabulate(df.head(), headers='keys'))
print('\n')
print(tabulate(df.tail(), headers='keys'))

6. Escribe un programa Pandas para extraer información sobre el número de compras totales y el monto total por nombre de producto y año.

In [ ]:
gdf = df.groupby(['ProductName', df['Fecha'].dt.year]
                 ).agg({'Quantity': sum})
gdf