# Ejercicios Pandas DataFrames 03

Carga el dataset del titanic

1. Escribe un programa Pandas para dividir los pasajeros en cuatro categorías según su edad: (0, 10), (10, 30), (30, 60), (60, 80)

In [6]:
import pandas as pd

df = pd.read_csv("./datos/titanic.csv", index_col=1)
df.head()

,survived,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
pclass,,,,,,,,,,,,,,,
3,0,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
3,1,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
3,0,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,NaN

2. Escribe un programa Pandas para contar la supervivencia por género, categorías y edad de varias clases. Siendo las categorías de edad: (0, 10), (10, 30), (30, 60), (60, 80)

In [7]:
# Definir las categorías de edad
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']

# Crear una nueva columna 'age_category' basada en las categorías de edad
df['age_category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

# Agrupar por 'sex', 'pclass' y 'age_category' y contar el número de supervivientes
survival_counts = df[df['survived'] == 1].groupby(['sex', 'pclass', 'age_category']).size().reset_index(name='survival_count')

print(survival_counts)

       sex  pclass age_category  survival_count
0   female       1         0-10               0
1   female       1        10-30              28
2   female       1        30-60              51
3   female       1        60-80               3
4   female       2         0-10               8
5   female       2        10-30              30
6   female       2        30-60              30
7   female       2        60-80               0
8   female       3         0-10              11
9   female       3        10-30              28
10  female       3        30-60               7
11  female       3        60-80               1
12    male       1         0-10               2
13    male       1        10-30              11
14    male       1        30-60              25
15    male       1        60-80               1
16    male       2         0-10               9
17    male       2        10-30               1
18    male       2        30-60               4
19    male       2        60-80               1
20    male       3         0-10               8
21    male       3        10-30              20
22    male       3        30-60              10
23    male       3        60-80               0

3. Escribe un programa Pandas para encontrar la tasa de supervivencia por género y edad de las diferentes categorías de varias clases. 
Agregar la tarifa como una dimensión de columnas y dividir la columna de tarifa en 2 categorías según los valores presentes en las columnas de tarifa.

In [8]:
# Definir las categorías de edad
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']

# Crear una nueva columna 'age_category' basada en las categorías de edad
df['age_category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

# Dividir la columna de tarifa en 2 categorías
fare_median = df['fare'].median()
df['fare_category'] = pd.cut(df['fare'], bins=[-1, fare_median, df['fare'].max()], labels=['Low Fare', 'High Fare'])

# Calcular la tasa de supervivencia por género, clase, categoría de edad y categoría de tarifa
survival_rate = df.groupby(['sex', 'pclass', 'age_category', 'fare_category'])['survived'].mean().reset_index()

print(survival_rate)

       sex  pclass age_category fare_category  survived
0   female       1         0-10      Low Fare       NaN
1   female       1         0-10     High Fare  0.000000
2   female       1        10-30      Low Fare       NaN
3   female       1        10-30     High Fare  0.965517
4   female       1        30-60      Low Fare       NaN
5   female       1        30-60     High Fare  0.980769
6   female       1        60-80      Low Fare       NaN
7   female       1        60-80     High Fare  1.000000
8   female       2         0-10      Low Fare       NaN
9   female       2         0-10     High Fare  1.000000
10  female       2        10-30      Low Fare  0.923077
11  female       2        10-30     High Fare  0.900000
12  female       2        30-60      Low Fare  0.866667
13  female       2        30-60     High Fare  0.944444
14  female       2        60-80      Low Fare       NaN
15  female       2        60-80     High Fare       NaN
16  female       3         0-10      Low Fare  0.800000
17  female       3         0-10     High Fare  0.437500
18  female       3        10-30      Low Fare  0.571429
19  female       3        10-30     High Fare  0.307692
20  female       3        30-60      Low Fare  0.222222
21  female       3        30-60     High Fare  0.312500
22  female       3        60-80      Low Fare  1.000000
23  female       3        60-80     High Fare       NaN
24    male       1         0-10      Low Fare       NaN
25    male       1         0-10     High Fare  1.000000
26    male       1        10-30      Low Fare       NaN
27    male       1        10-30     High Fare  0.478261
28    male       1        30-60      Low Fare  0.000000
29    male       1        30-60     High Fare  0.431034
30    male       1        60-80      Low Fare       NaN
31    male       1        60-80     High Fare  0.076923
32    male       2         0-10      Low Fare       NaN
33    male       2         0-10     High Fare  1.000000
34    male       2        10-30      Low Fare  0.040000
35    male       2        10-30     High Fare  0.000000
36    male       2        30-60      Low Fare  0.111111
37    male       2        30-60     High Fare  0.047619
38    male       2        60-80      Low Fare  0.333333
39    male       2        60-80     High Fare  0.000000
40    male       3         0-10      Low Fare  1.000000
41    male       3         0-10     High Fare  0.277778
42    male       3        10-30      Low Fare  0.140496
43    male       3        10-30     High Fare  0.130435
44    male       3        30-60      Low Fare  0.112676
45    male       3        30-60     High Fare  0.153846
46    male       3        60-80      Low Fare  0.000000
47    male       3        60-80     High Fare       NaN

4. Escribe un programa Pandas para calcular la cantidad de mujeres y hombres que había en cada clase de cabina.

5. Escribe un programa Pandas para separar el género según si viajaron solos o no y obtener la probabilidad de supervivencia.

6. Escribe un programa Pandas para crear encontrar la probabilidad de supervivencia por clase, género, embarque en solitario y puerto de embarque.