# Ejercicios Pandas DataFrames 03

Carga el dataset del titanic

1. Escribe un programa Pandas para dividir los pasajeros en cuatro categorías según su edad: (0, 10), (10, 30), (30, 60), (60, 80)

In [20]:
import pandas as pd

df = pd.read_csv("./datos/titanic.csv")
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone,Unnamed: 15
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False,NaN
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False,NaN
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True,NaN
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False,NaN
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True,NaN

2. Escribe un programa Pandas para contar la supervivencia por género, categorías y edad de varias clases. Siendo las categorías de edad: (0, 10), (10, 30), (30, 60), (60, 80)

In [15]:
# Definir las categorías de edad
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']

# Crear una nueva columna 'age_category' basada en las categorías de edad
df['age_category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

# Agrupar por 'sex', 'pclass' y 'age_category' y contar el número de supervivientes
survival_counts = df[df['survived'] == 1].groupby(['sex', 'pclass', 'age_category']).size().reset_index(name='survival_count')

print(survival_counts)

       sex  pclass age_category  survival_count
0   female       1         0-10               0
1   female       1        10-30              28
2   female       1        30-60              51
3   female       1        60-80               3
4   female       2         0-10               8
5   female       2        10-30              30
6   female       2        30-60              30
7   female       2        60-80               0
8   female       3         0-10              11
9   female       3        10-30              28
10  female       3        30-60               7
11  female       3        60-80               1
12    male       1         0-10               2
13    male       1        10-30              11
14    male       1        30-60              25
15    male       1        60-80               1
16    male       2         0-10               9
17    male       2        10-30               1
18    male       2        30-60               4
19    male       2        60-80               1
20    male       3         0-10               8
21    male       3        10-30              20
22    male       3        30-60              10
23    male       3        60-80               0

3. Escribe un programa Pandas para encontrar la tasa de supervivencia por género y edad de las diferentes categorías de varias clases. 
Agregar la tarifa como una dimensión de columnas y dividir la columna de tarifa en 2 categorías según los valores presentes en las columnas de tarifa.

In [16]:
# Definir las categorías de edad
age_bins = [0, 10, 30, 60, 80]
age_labels = ['0-10', '10-30', '30-60', '60-80']

# Crear una nueva columna 'age_category' basada en las categorías de edad
df['age_category'] = pd.cut(df['age'], bins=age_bins, labels=age_labels, right=False)

# Dividir la columna de tarifa en 2 categorías
fare_median = df['fare'].median()
df['fare_category'] = pd.cut(df['fare'], bins=[-1, fare_median, df['fare'].max()], labels=['Low Fare', 'High Fare'])

# Calcular la tasa de supervivencia por género, clase, categoría de edad y categoría de tarifa
survival_rate = df.groupby(['sex', 'pclass', 'age_category', 'fare_category'])['survived'].mean().reset_index()

print(survival_rate)

       sex  pclass age_category fare_category  survived
0   female       1         0-10      Low Fare       NaN
1   female       1         0-10     High Fare  0.000000
2   female       1        10-30      Low Fare       NaN
3   female       1        10-30     High Fare  0.965517
4   female       1        30-60      Low Fare       NaN
5   female       1        30-60     High Fare  0.980769
6   female       1        60-80      Low Fare       NaN
7   female       1        60-80     High Fare  1.000000
8   female       2         0-10      Low Fare       NaN
9   female       2         0-10     High Fare  1.000000
10  female       2        10-30      Low Fare  0.923077
11  female       2        10-30     High Fare  0.900000
12  female       2        30-60      Low Fare  0.866667
13  female       2        30-60     High Fare  0.944444
14  female       2        60-80      Low Fare       NaN
15  female       2        60-80     High Fare       NaN
16  female       3         0-10      Low Fare  0.800000
17  female       3         0-10     High Fare  0.437500
18  female       3        10-30      Low Fare  0.571429
19  female       3        10-30     High Fare  0.307692
20  female       3        30-60      Low Fare  0.222222
21  female       3        30-60     High Fare  0.312500
22  female       3        60-80      Low Fare  1.000000
23  female       3        60-80     High Fare       NaN
24    male       1         0-10      Low Fare       NaN
25    male       1         0-10     High Fare  1.000000
26    male       1        10-30      Low Fare       NaN
27    male       1        10-30     High Fare  0.478261
28    male       1        30-60      Low Fare  0.000000
29    male       1        30-60     High Fare  0.431034
30    male       1        60-80      Low Fare       NaN
31    male       1        60-80     High Fare  0.076923
32    male       2         0-10      Low Fare       NaN
33    male       2         0-10     High Fare  1.000000
34    male       2        10-30      Low Fare  0.040000
35    male       2        10-30     High Fare  0.000000
36    male       2        30-60      Low Fare  0.111111
37    male       2        30-60     High Fare  0.047619
38    male       2        60-80      Low Fare  0.333333
39    male       2        60-80     High Fare  0.000000
40    male       3         0-10      Low Fare  1.000000
41    male       3         0-10     High Fare  0.277778
42    male       3        10-30      Low Fare  0.140496
43    male       3        10-30     High Fare  0.130435
44    male       3        30-60      Low Fare  0.112676
45    male       3        30-60     High Fare  0.153846
46    male       3        60-80      Low Fare  0.000000
47    male       3        60-80     High Fare       NaN

4. Escribe un programa Pandas para calcular la cantidad de mujeres y hombres que había en cada clase de cabina.

In [17]:
# Calcular la cantidad de mujeres y hombres en cada clase de cabina
gender_counts = df.groupby(['pclass', 'sex']).size().reset_index(name='count')

print(gender_counts)

   pclass     sex  count
0       1  female     94
1       1    male    122
2       2  female     76
3       2    male    108
4       3  female    144
5       3    male    347

5. Escribe un programa Pandas para separar el género según si viajaron solos o no y obtener la probabilidad de supervivencia.

In [18]:
# Separar el género según si viajaron solos o no
df['alone'] = df['alone'].map({True: 'Solo', False: 'Not Solo'})

# Calcular la probabilidad de supervivencia por género y si viajaron solos o no
survival_probability = df.groupby(['sex', 'alone'])['survived'].mean().reset_index()

print(survival_probability)

      sex     alone  survived
0  female  Not Solo  0.712766
1  female      Solo  0.785714
2    male  Not Solo  0.271084
3    male      Solo  0.155718

6. Escribe un programa Pandas para crear encontrar la probabilidad de supervivencia por clase, género, embarque en solitario y puerto de embarque.

In [21]:
# Mapea la columna 'alone' para indicar si una persona viajó sola ('Solo') o no ('Not Solo')
df['alone'] = df['alone'].map({True: 'Solo', False: 'Not Solo'})

# Asegurarse de que no haya valores nulos en las columnas utilizadas para el agrupamiento
df = df.dropna(subset=['pclass', 'sex', 'alone', 'embarked', 'survived'])

# Calcular la probabilidad de supervivencia por clase, género, embarque en solitario y puerto de embarque
survival_probability = df.groupby(['pclass', 'sex', 'alone', 'embarked'])['survived'].mean().reset_index()

print(survival_probability)

    pclass     sex     alone embarked  survived
0        1  female  Not Solo        C  1.000000
1        1  female  Not Solo        Q  1.000000
2        1  female  Not Solo        S  0.941176
3        1  female      Solo        C  0.944444
4        1  female      Solo        S  1.000000
5        1    male  Not Solo        C  0.473684
6        1    male  Not Solo        Q  0.000000
7        1    male  Not Solo        S  0.407407
8        1    male      Solo        C  0.347826
9        1    male      Solo        S  0.326923
10       2  female  Not Solo        C  1.000000
11       2  female  Not Solo        S  0.923077
12       2  female      Solo        C  1.000000
13       2  female      Solo        Q  1.000000
14       2  female      Solo        S  0.892857
15       2    male  Not Solo        C  0.166667
16       2    male  Not Solo        S  0.300000
17       2    male      Solo        C  0.250000
18       2    male      Solo        Q  0.000000
19       2    male      Solo        S  0.089552
20       3  female  Not Solo        C  0.611111
21       3  female  Not Solo        Q  0.625000
22       3  female  Not Solo        S  0.327586
23       3  female      Solo        C  0.800000
24       3  female      Solo        Q  0.760000
25       3  female      Solo        S  0.466667
26       3    male  Not Solo        C  0.500000
27       3    male  Not Solo        Q  0.100000
28       3    male  Not Solo        S  0.142857
29       3    male      Solo        C  0.151515
30       3    male      Solo        Q  0.068966
31       3    male      Solo        S  0.123762