In [1]:
import pandas as pd

In [2]:
s = pd.Series([1,2,3,4,5,6])
s

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [3]:
s[2]

3

In [4]:
s = pd.Series({'math':10, 'leng':7, 'art':2})
s

math    10
leng     7
art      2
dtype: int64

In [5]:
s['math']

10

In [6]:
print(s.size)
print(s.index)
print(s.dtype)

3
Index(['math', 'leng', 'art'], dtype='object')
int64

In [7]:
print(s[0])
print(s[1])
print(s[1:])
print(s[:2])
print(s[['leng','art']])

10
7
leng    7
art     2
dtype: int64
math    10
leng     7
dtype: int64
leng    7
art     2
dtype: int64

In [8]:
s = pd.Series([1,2,3,4,5,6])

print(s.count())
print(s.value_counts())
print(s.value_counts(normalize=True))
print(s.min())
print(s.max())
print(s.var())
print(s.std())

6
1    1
2    1
3    1
4    1
5    1
6    1
dtype: int64
1    0.166667
2    0.166667
3    0.166667
4    0.166667
5    0.166667
6    0.166667
dtype: float64
1
6
3.5
1.8708286933869707

In [9]:
print(s.describe())

count    6.000000
mean     3.500000
std      1.870829
min      1.000000
25%      2.250000
50%      3.500000
75%      4.750000
max      6.000000
dtype: float64

In [10]:
s * 2

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

In [11]:
s % 2

0    1
1    0
2    1
3    0
4    1
5    0
dtype: int64

In [12]:
st = pd.Series(['a','b','c'])
st * 4

0    aaaa
1    bbbb
2    cccc
dtype: object

In [13]:
import math

s.apply(math.log)

0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
5    1.791759
dtype: float64

In [14]:
import numpy as np
s.apply(np.sqrt)

0    1.000000
1    1.414214
2    1.732051
3    2.000000
4    2.236068
5    2.449490
dtype: float64

In [15]:
st.apply(str.upper)

0    A
1    B
2    C
dtype: object

In [16]:
s.apply(lambda x:x*2+3)

0     5
1     7
2     9
3    11
4    13
5    15
dtype: int64

### Filtrar y Ordenar ###

In [17]:
print(s[s > 2])

2    3
3    4
4    5
5    6
dtype: int64

In [18]:
s.sort_values()

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [19]:
s.sort_index(ascending=False)

5    6
4    5
3    4
2    3
1    2
0    1
dtype: int64

In [20]:
sx = pd.Series(['a','b', None,'c',np.nan,'d'])
print(sx)

sy = sx.dropna()
print(sy)

0       a
1       b
2    None
3       c
4     NaN
5       d
dtype: object
0    a
1    b
3    c
5    d
dtype: object

## DATAFRAMES

### CREACIÓN

In [26]:

diccionario = {'nombre': ['María', 'Luis', 'Carmen', 'Antonio'],'edad': [18, 22, 20, 21],'grado': ['Economía', 'Medicina', 'Arquitectura', 'Economía'],'correo': ['maria@gmail.com', 'luis@yahoo.es', 'carmen@gmail.com', 'antonio@gmail.com']}
       
lista_de_listas = [['María', 18],['Luis', 22],['Carmen', 20]]
                  
lista_de_dicts = [{'Nombre': 'María', 'Edad': 18},{'Nombre': 'Luis', 'Edad': 22},{'Nombre': 'Carmen'}]

In [27]:
df = pd.DataFrame(diccionario)
df

    nombre  edad         grado             correo
0    María    18      Economía    maria@gmail.com
1     Luis    22      Medicina      luis@yahoo.es
2   Carmen    20  Arquitectura   carmen@gmail.com
3  Antonio    21      Economía  antonio@gmail.com

In [28]:
df = pd.DataFrame(lista_de_listas)
df

        0   1
0   María  18
1    Luis  22
2  Carmen  20

In [29]:
df = pd.DataFrame(lista_de_dicts)
df

   Nombre  Edad
0   María  18.0
1    Luis  22.0
2  Carmen   NaN

### DESDE FUENTES

In [30]:
import pandas as pd

pd.read_csv()